.availability-main {
  padding-top: 150px;
  background-color: #ebeef0;
  position: relative;
  min-height: 100vh;
  .header-availability {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    &-title {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      width: 305px;
      text-align: center;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;

      h3 {
        font-size: 27px;
        color: #000000;
        margin-bottom: 0;
        font-family: Bahnschrift, sans-serif;
      }
    }

    &-right {
      display: flex;
      margin-left: auto;

      button {
        padding: 8px 55px;
        margin-right: 35px;
        outline: none;
        font-family: SFUIText, sans-serif;
      }
    }

    &-menu {
      display: flex;

      img {
        cursor: pointer;
      }

      img:nth-child(1) {
        margin-right: 15px;
      }

      img:nth-child(2) {
        margin-right: 10px;
      }
    }
    @media (max-width: 1024px) {
      &-right {
        margin-top: 70px;
      }
    }
    @media (max-width: 576px) {
      &-right {
        margin-top: 50px;
      }
    }
  }

  .listview-availability {
    margin-top: 65px;
    animation: showMenu linear 0.6s;

    &-header {
      display: flex;
      align-items: center;
      height: 65px;
      width: 100%;
      background-color: #000;
      padding-right: 120px;
      padding-left: 65px;
      margin-top: 20px;

      h5,
      th {
        color: #fff;
        margin-bottom: 0;
        text-transform: uppercase;
        font-size: 15px;
        width: 20%;
        font-weight: 500;
        font-family: Bahnschrift, sans-serif;
      }
      th:first-child {
        width: 20%;
      }
    }

    &-body {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 100%;
      padding: 30px 120px 30px 65px;
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.08);
      background-color: #ffffff;
      margin-bottom: 1.5rem;

      th {
        width: 20%;
        h4 {
          font-size: 50px;
          text-transform: uppercase;
          color: #002643;
          font-family: SFUIText, sans-serif;
          font-weight: 400;
          margin: 0;
        }
        & > ul {
          margin: 0;
        }
        .listview-availability-body-list {
          list-style: none;

          li {
            font-size: 12px;
            color: #002643;
            font-family: SFUIText, sans-serif;
            font-weight: normal;
            margin: 5px 0;
          }
        }

        .listview-availability-body-detail {
          list-style: none;

          li {
            font-size: 12px;
            color: #002643;
            border: 1px solid #002643;
            padding: 6px 0;
            text-align: center;
            font-family: SFUIText, sans-serif;
            font-weight: normal;
          }

          li:nth-child(1) {
            padding: 6px 35px;
          }
        }

        p {
          text-transform: uppercase;
          font-size: 13px;
          color: #002643;
          margin: 0;
          font-family: SFUIText, sans-serif;
          font-weight: normal;
        }
      }
      th:first-child {
        width: 20%;
      }
    }
    @media (max-width: 1024px) {
      margin-top: 20px;
    }
  }

  .product_view-availability {
    margin-top: 65px;
    animation: showMenu linear 0.6s;

    .flex-start {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 0 140px;
    }

    .card {
      border: 2px solid #012e50;
      width: 350px;
      margin: 0 5px 1.5rem 5px;

      &-body {
        display: flex;
        justify-content: space-around;

        &-info {
          &-evaluate {
            display: flex;
            align-items: center;
            padding: 0 15px;
            margin-bottom: 9px;

            p {
              margin-bottom: 0;
              margin-left: 15px;
              color: #012e50;
              font-size: 16px;
              font-weight: 900;
              font-family: BahnschriftBold, sans-serif;
            }
          }

          &-content {
            padding-left: 50px;
            padding-right: 40px;

            ul {
              list-style: none;
              margin-bottom: 0;
              width: 150%;

              li {
                font-size: 12px;
                color: #012e50;
                text-transform: uppercase;
                font-family: Bahnschrift, sans-serif;
                strong {
                  font-family: BahnschriftBold, sans-serif;
                }
              }
            }
          }
        }

        &-btn {
          display: flex;
          flex-direction: column-reverse;

          &-view_detail {
            text-decoration: none;
            color: #ffffff;
            background-color: #cdcdcd;
            padding: 8px 26px;
          }
        }
      }
    }
  }
}

@keyframes showMenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
